Ques-1

In [3]:
import pandas as pd
print(pd.__version__)

0.23.0

Ques-2

In [4]:
import pandas as pd 
import numpy as np 
  

data = np.array(['a', 'b', 'c', 'd', 'e'])  
s = pd.Series(data) 
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

Ques-3

In [1]:
import pandas as pd 


df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'], 
				'Name': ['Amelia', 'Sam', 'Dean', 'Jessica'], 
				'Marks In Percentage': [97, 90, 70, 82], 
				'Grade': ['A', 'A', 'C', 'B'], 
				'Subject': ['Physics', 'Physics', 'Physics', 'Physics']}) 

 
df['index'] = df.index 
df

  Roll Number     Name  Marks In Percentage Grade  Subject  index
0     20CSE29   Amelia                   97     A  Physics      0
1     20CSE49      Sam                   90     A  Physics      1
2     20CSE36     Dean                   70     C  Physics      2
3     20CSE44  Jessica                   82     B  Physics      3

Ques-4

In [6]:
import seaborn as sb
print(sb.get_dataset_names())
df = sb.load_dataset('mpg')
print(df.head())

C:\Users\User\Anaconda3\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Users\User\Anaconda3\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']
    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino

Ques-5

In [9]:
df['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)